<?xml version="1.0" encoding="UTF-8"?>
<!--
	Copyright (c) Canadian Light Source, Inc. All rights reserved.
	see license.txt for details.

	Description:
		Application Context file.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   	<bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
				<value>classpath:security.properties</value>
				<value>classpath:jdbc.properties</value>
				<value>classpath:jms.properties</value>
				<value>classpath:ccd.properties</value>
				<value>classpath:dao.properties</value>
            </list>
        </property>
    </bean>

    <!-- ===================================================================
  	-  Message Source
  	-  =================================================================== -->
    <bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="messages"/>
	</bean>

</beans>
