<?xml version="1.0" encoding="UTF-8"?>
<!--
	Copyright (c) Canadian Light Source, Inc. All rights reserved.
	see license.txt for details.

	Description:
		Configuration for simulation device proxies.
-->

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- Synchronize the device proxies by querying the respective devices. -->

	<bean id="simSynchronizeDeviceProxyEventListeners"
		class="ca.sciencestudio.device.proxy.event.SynchronizeDeviceProxyEventListeners">
		<constructor-arg ref="simJmsDeviceMessageListenerContainer"/>
		<constructor-arg value="1000"/><!-- Milliseconds to wait for JMS to connect. -->
	</bean>

	<!-- Device Message Receiver -->

	<bean id="simDeviceMessageRecieverProxyEventPublisher"
		class="ca.sciencestudio.device.proxy.messaging.SimpleDeviceMessageReceiverProxyEventPublisher">
		<constructor-arg>
			<list>			
				<ref bean="simSampleStageHVStateMap"/>
				<ref bean="simSampleCameraStateMap"/>
				<ref bean="simVortexDetectorStateMap"/>
				<ref bean="simScanDeviceStateMap"/>
				<ref bean="simBeamlineInformationStateMap"/>
				<ref bean="simBeamlineSessionStateMap"/>
			</list>
		</constructor-arg>
	</bean>

	<bean id="simJmsDeviceMessageReceiver"
		class="ca.sciencestudio.device.messaging.jms.DelegatingJmsDeviceMessageReceiver">
		<property name="deviceMessageReceiver" ref="simDeviceMessageRecieverProxyEventPublisher"/>
	</bean>
	
	<bean id="simJmsDeviceMessageListenerContainer"
		class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="destinationName" value="${jms.simulation.topic.subscriber}"/>
		<property name="connectionFactory" ref="simJmsConnectionFactory"/>
		<property name="messageListener" ref="simJmsDeviceMessageReceiver"/>
		<property name="pubSubDomain" value="true"/>
	</bean>
	
	<!-- Device Message Sender -->
	
	<bean id="simJmsDeviceMessageTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="simJmsConnectionFactory"/>
		<property name="explicitQosEnabled" value="true"/>
		<property name="deliveryPersistent" value="false"/>
		<property name="pubSubDomain" value="true"/>
	</bean>
	
	<bean id="simDeviceMessageSender" class="ca.sciencestudio.device.messaging.spring.SpringDeviceMessageSender">
		<property name="destinationName" value="${jms.simulation.topic.publisher}"/>
		<property name="jmsTemplate" ref="simJmsDeviceMessageTemplate"/>
	</bean>

	<bean id="simVortexDetectorStateMap"
		class="ca.sciencestudio.device.proxy.event.ReadWriteDeviceProxyEventListener">
		<property name="deviceId" value="vortexDetector"/>
		<property name="deviceMessageSender" ref="simDeviceMessageSender"/>
	</bean>

	<bean id="simSampleCameraStateMap"
		class="ca.sciencestudio.device.proxy.event.ReadWriteDeviceProxyEventListener">
		<property name="deviceId" value="sampleCamera"/>
		<property name="deviceMessageSender" ref="simDeviceMessageSender"/>
	</bean>

	<bean id="simSampleStageHVStateMap"
		class="ca.sciencestudio.device.proxy.event.ReadWriteDeviceProxyEventListener">
		<property name="deviceId" value="sampleStageHV"/>
		<property name="deviceMessageSender" ref="simDeviceMessageSender"/>
	</bean>

	<bean id="simScanDeviceStateMap"
		class="ca.sciencestudio.vespers.device.proxy.event.ScanDeviceProxyEventListener">
		<property name="scanDAO" ref="scanDAO"/>
		<property name="deviceId" value="scanDevice"/>
		<property name="deviceMessageSender" ref="simDeviceMessageSender"/>
	</bean>

	<bean id="simBeamlineInformationStateMap"
		class="ca.sciencestudio.device.proxy.event.ReadWriteDeviceProxyEventListener">
		<property name="deviceId" value="beamlineInformation"/>
		<property name="deviceMessageSender" ref="simDeviceMessageSender"/>
	</bean>

	<bean id="simBeamlineSessionStateMap"
		class="ca.sciencestudio.vespers.device.proxy.event.BeamlineSessionProxyEventListener">
		<property name="deviceId" value="beamlineSession"/>
		<property name="projectDAO" ref="projectDAO"/>
		<property name="sessionDAO" ref="sessionDAO"/>
		<property name="deviceMessageSender" ref="simDeviceMessageSender"/>
	</bean>

</beans>
