<?xml version="1.0" encoding="UTF-8"?>
<!--
	Copyright (c) Canadian Light Source, Inc. All rights reserved.
	see license.txt for details.
	
	Description:
		HTTP Message Converter configuration.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<!-- ===========================================================================================
	-  HTTP Message Converter Configuration 
	-  ========================================================================================== -->
	
	<bean id="mappingJacksonHttpMessageConverter"
		class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
		<property name="objectMapper">
			<bean class="ca.sciencestudio.util.bean.JacksonObjectMapperFactoryBean">
				<property name="writeDatesAsTimestamps" value="false"/>
			</bean>
		</property>
	</bean>
	
	<bean id="httpMessageConverters" class="java.util.ArrayList">
		<constructor-arg>
			<list>
				<ref bean="mappingJacksonHttpMessageConverter"/>
			</list>
		</constructor-arg>
	</bean>

	<bean class="ca.sciencestudio.util.bean.HttpMessageConvertersHolderConfigBean">
   		<property name="messageConverters" ref="httpMessageConverters"/>
   	</bean>

</beans>
