<?xml version="1.0" encoding="UTF-8"?>
<!--
	Copyright (c) Canadian Light Source, Inc. All rights reserved.
	see license.txt for details.
	
	Description:
		REST client configuration
-->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!---  ===================================================================
  	-  REST Template Configuration
  	-  =================================================================== -->

	<bean id="validationResponseErrorHandler"
		class="ca.sciencestudio.util.rest.ValidationResponseErrorHandler">
	</bean>

	<bean id="restTempalate"
		class="org.springframework.web.client.RestTemplate">
		<property name="requestFactory" ref="basicAuthClientRequestFactory"/>
		<property name="errorHandler" ref="validationResponseErrorHandler"/>
		<property name="messageConverters" ref="httpMessageConverters"/>
	</bean>
	
	<bean id="basicAuthClientRequestFactory"
		class="ca.sciencestudio.util.rest.BasicAuthClientRequestFactory">
		<property name="username" value="${dao.rest.username}"/>
		<property name="password" value="${dao.rest.password}"/>	
	</bean>
	
</beans>
