<?xml version="1.0" encoding="UTF-8"?>
<!--
	Copyright (c) Canadian Light Source, Inc. All rights reserved.
	see license.txt for details.
	
	Description:
		Data Access Objects configuration.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

<!---  ===================================================================
  	-  DAOs
  	-  =================================================================== -->
	
	<!--<bean id="accountBasicDAO"
		class="ca.sciencestudio.model.person.dao.ibatis.IbatisAccountBasicDAO">
		<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"/>
	</bean>-->
	
	<bean id="loginSessionDAO"
		class="ca.sciencestudio.login.model.dao.ibatis.IbatisLoginSessionDAO">
		<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate"/>
	</bean>
	
	<bean id="personAuthzDAO"
		class="ca.sciencestudio.model.person.dao.rest.RestPersonAuthzDAO">
		<property name="restTemplate" ref="restTemplate"/>
		<property name="baseUrl" value="${dao.rest.url}"/>
	</bean>
	
	<bean id="facilityAuthzDAO"
		class="ca.sciencestudio.model.facility.dao.rest.RestFacilityAuthzDAO">
		<property name="restTemplate" ref="restTemplate"/>
		<property name="baseUrl" value="${dao.rest.url}"/>
	</bean>
	
</beans>
