<?xml version="1.0" encoding="UTF-8"?>
<!--
	Copyright (c) Canadian Light Source, Inc. All rights reserved.
	see license.txt for details.
	
	Description:
		Data Access Objects file.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!--  Project Data Access Objects -->

	<bean id="projectAuthzDAO"
		class="ca.sciencestudio.model.project.dao.rest.RestProjectAuthzDAO">
		<property name="baseUrl" value="${dao.rest.url}"/>
		<property name="restTemplate" ref="restTemplate"/>
	</bean>

	<bean id="projectPersonAuthzDAO"
		class="ca.sciencestudio.model.project.dao.rest.RestProjectPersonAuthzDAO">
		<property name="baseUrl" value="${dao.rest.url}"/>
		<property name="restTemplate" ref="restTemplate"/>
	</bean>
	
	<!--  Sample Data Access Objects -->
	
	<bean id="sampleAuthzDAO"
		class="ca.sciencestudio.model.sample.dao.rest.RestSampleAuthzDAO">
		<property name="baseUrl" value="${dao.rest.url}"/>
		<property name="restTemplate" ref="restTemplate"/>
	</bean>
	
	<!--  Session Data Access Objects -->
	
	<bean id="sessionAuthzDAO"
		class="ca.sciencestudio.model.session.dao.rest.RestSessionAuthzDAO">
		<property name="baseUrl" value="${dao.rest.url}"/>
		<property name="restTemplate" ref="restTemplate"/>
	</bean>
	
	<bean id="experimentAuthzDAO"
		class="ca.sciencestudio.model.session.dao.rest.RestExperimentAuthzDAO">
		<property name="baseUrl" value="${dao.rest.url}"/>
		<property name="restTemplate" ref="restTemplate"/>
	</bean>
	
	<bean id="scanAuthzDAO"
		class="ca.sciencestudio.model.session.dao.rest.RestScanAuthzDAO">
		<property name="baseUrl" value="${dao.rest.url}"/>
		<property name="restTemplate" ref="restTemplate"/>
	</bean>
	
</beans>
